PORT = 8000
CORS_ORIGIN =""
MONGODB_URI = ""


# not store in databse
ACCESS_TOKEN_SECRET = "" 
ACCESS_TOKEN_EXPIRY = ""

# refresh token store in database
REFRESH_TOKEN_SECRET = ""
REFRESH_TOKEN_EXPIRY = ""


